.invalid-form{
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  color: #E85A4f;
  align-self: center;
}


label{
  color: #8e8d8a
}

.header{
  margin-left: 20px;
  margin-top: 20px;
}


