<section class="menu">
  <!-- <div class="container-user"></div> -->

  <a routerLink="sale">
  <div class="option" routerLinkActive="option-selected" >
    <label>
      <i class="fa fa-shopping-cart fa-lg" ></i>
    </label>
    <label> Venda</label>
  </div>
 </a>

 <a routerLink="products">
  <div class="option" routerLinkActive="option-selected">
    <label> <i class="fa fa-layer-group" ></i> </label>
    <label>Geral</label>
  </div>
</a>

  <a routerLink="stock">
  <div class="option" routerLinkActive="option-selected">
    <label> <i class="fa fa-boxes" ></i> </label>
    <label>Stock</label>
  </div>
</a>

</section>
